{$DOMAIN} {
	encode gzip
	handle /api/* {
		reverse_proxy api:8000
	}
	handle /ml/* {
	   reverse_proxy ml_app:6969
	}
    handle /ws/* {
        reverse_proxy 195.133.46.8:5000 {
            header_up Host {host}
            header_up Connection {>Connection}
            header_up Upgrade {>Upgrade}
        }
    }
	handle {
		root * /app/dist
		try_files {path} /index.html
		file_server
	}
	handle_errors {
		respond "{err.status_code} {err.status_text}"
	}
}